<div class="container overflow">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Instructions for Participants</h1>
      <hr>

      <h2>About</h2>
      <p>In the next screen, there will be a trial for you to familiarize yourself with the two techniques. The interface is split into two sections. In the left section, there will be a string of text that you are required to copy, while in the right section, you will be shown a few windows containing text, one of which is a Text Editor window which you can paste text in.</p>

      <p>There are two ways you can copy and paste the text:</p>
      
      <h3>Using Keyboard Shortcuts</h3>
      <p>Firstly highlight the text that you want to copy, then press <kbd>Cmd</kbd> + <kbd>C</kbd> to copy the text into your clipboard. Next, click on the location where you want to paste the text, then press <kbd>Cmd</kbd> + <kbd>V</kbd> to paste the text.</p>

      <h3>Using AutoComPaste</h3>
      <p>AutoComPaste is a new copy and paste method which analyzes the text in your currently opened windows. Start typing the text you want to copy and you will see a dropdown list of possibilities. Use the up/down arrow keys to select the correct line that you want to copy and press <kbd>Enter</kbd>.</p>

      <br>
      <br>

      <h2>The Experiment</h2>
      <p>For the real experiment, there will be 27 trials per technique and you are given a minute's rest between each technique.</p>
      <p>Press the proceed button when you are ready.</p>
      <button class="btn btn-default btn-lg" ng-click="nextPage()">Proceed</button>
    </div>
  </div>
</div>