<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>AutoComPaste Experiment</h1>
      <hr>
      <p>AutoComPaste is a novel technique in copying and pasting text across different documents on a computer.</p>
      <p>In the next few screens, you will be prompted to complete the following:</p>
      <ol>
        <li>A pre-experiment questionnaire</li>
        <li>The experiment itself</li>
        <li>A post-experiment questionnaire</li>
      </ol>
      <hr>
      <div class="well">
        <div class="form-group">
          <label for="pid">Participant's ID</label>
          <input type="text" class="form-control" id="pid" placeholder="Enter your participant's ID. E.g. P5" ng-model="$parent.user.pid">
        </div>
        <button type="submit" class="btn btn-default" ng-click="nextPage()">Start</button>
      </div>
    </div>
  </div>  
</div>