<div class="container overflow">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Post-Experiment Questionnaire</h1>
      <hr>
      <form class="form-horizontal well" role="form">
        <p>Please answer the following questions using this 5-point Likert scale: (1 - strongly disagree, 2 - disagree, 3 - neutral, 4 - agree, 5 - strongly agree)</p>
        <hr>

        <div class="form-group">
          <div class="col-sm-12">
            <label for="participant-ease-of-use-autocompaste">
              The <strong>AutoComPaste</strong> technique was very easy to use.
            </label>
          </div>
          <div class="col-sm-12">
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-autocompaste" value="1" ng-model="$parent.user.ease_of_use_autocompaste"> 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-autocompaste" value="2" ng-model="$parent.user.ease_of_use_autocompaste"> 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-autocompaste" value="3" ng-model="$parent.user.ease_of_use_autocompaste"> 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-autocompaste" value="4" ng-model="$parent.user.ease_of_use_autocompaste"> 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-autocompaste" value="5" ng-model="$parent.user.ease_of_use_autocompaste"> 5
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label for="participant-ease-of-use-shortcuts">
            The <strong>Ctrl + C / Ctrl + V</strong> technique was very easy to use.
            </label>
          </div>
          <div class="col-sm-12">
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="1" ng-model="$parent.user.ease_of_use_shortcuts"> 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="2" ng-model="$parent.user.ease_of_use_shortcuts"> 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="3" ng-model="$parent.user.ease_of_use_shortcuts"> 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="4" ng-model="$parent.user.ease_of_use_shortcuts"> 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="5" ng-model="$parent.user.ease_of_use_shortcuts"> 5
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label for="participant-ease-of-use-shortcuts">
            AutoComPaste will increase my efficiency while using the computer.
            </label>
          </div>
          <div class="col-sm-12">
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="1" ng-model="$parent.user.ease_of_use_shortcuts"> 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="2" ng-model="$parent.user.ease_of_use_shortcuts"> 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="3" ng-model="$parent.user.ease_of_use_shortcuts"> 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="4" ng-model="$parent.user.ease_of_use_shortcuts"> 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="5" ng-model="$parent.user.ease_of_use_shortcuts"> 5
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label for="participant-ease-of-use-shortcuts">
            I can use AutoComPaste without any guidance.
            </label>
          </div>
          <div class="col-sm-12">
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="1" ng-model="$parent.user.ease_of_use_shortcuts"> 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="2" ng-model="$parent.user.ease_of_use_shortcuts"> 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="3" ng-model="$parent.user.ease_of_use_shortcuts"> 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="4" ng-model="$parent.user.ease_of_use_shortcuts"> 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="5" ng-model="$parent.user.ease_of_use_shortcuts"> 5
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label for="participant-ease-of-use-shortcuts">
            I learned how to use AutoComPaste very easily.
            </label>
          </div>
          <div class="col-sm-12">
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="1" ng-model="$parent.user.ease_of_use_shortcuts"> 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="2" ng-model="$parent.user.ease_of_use_shortcuts"> 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="3" ng-model="$parent.user.ease_of_use_shortcuts"> 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="4" ng-model="$parent.user.ease_of_use_shortcuts"> 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="5" ng-model="$parent.user.ease_of_use_shortcuts"> 5
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label for="participant-ease-of-use-shortcuts">
            I would use AutoComPaste for my future work.
            </label>
          </div>
          <div class="col-sm-12">
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="1" ng-model="$parent.user.ease_of_use_shortcuts"> 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="2" ng-model="$parent.user.ease_of_use_shortcuts"> 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="3" ng-model="$parent.user.ease_of_use_shortcuts"> 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="4" ng-model="$parent.user.ease_of_use_shortcuts"> 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="participant-ease-of-use-shortcuts" value="5" ng-model="$parent.user.ease_of_use_shortcuts"> 5
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
          <label for="participant-difficulties">Did you face any difficulties while doing the experiment? If so, what are they?</label>
          <br>
          <textarea name="participant-difficulties" ng-model="$parent.user.experiment_difficulties" class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
          <label for="participant-effectiveness">Was this experiment appropriate in testing the effectiveness of the <strong>AutoComPaste</strong> technique?</label>
          <br>
          <textarea name="participant-effectiveness" ng-model="$parent.user.experiment_effectiveness" class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
          <label for="participant-difficulties">Do you have any suggestions/feedback for us?</label>
          <br>
          <textarea name="participant-difficulties" ng-model="$parent.user.experiment_feedback" class="form-control" rows="3"></textarea>
          </div>
        </div>

      </form>
      
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default btn-lg" ng-click="nextPage()">Submit</button>
        </div>
      </div>

    </div>
  </div>  
</div>
