<div class="row main-area">
    <div class="col-md-3 left-section">
        <div id="Header">
            <div id="InstructionAreaBox">
                <div id="InstructionArea">
                    <h3 id="TaskNameExperiment">

                    </h3>
                    <h2 id="ConditionNameExperiment"></h2>
                    <h3 id="TrialNumber"></h3>
                    <hr>
                    <div id="InstructionText">

                    </div>
                </div>
            </div>
            <div id="InstructionButtonArea" class="bottom-button-container">

            </div>
        </div>
    </div>
    <div class="col-md-9 right-section">
        <div id="Root"></div>
    </div>
</div>