<div class="row full-height">
    <div class="left-section">
        <div id="Header">
            <div id="InstructionAreaBox">
                <br>
                <h4>Copy Paste Experiment</h4>
                <hr>
                <table class="table table-striped table-bordered" ng-show="trialOver">
                    <tr>
                        <td>Technique</td>
                        <td>{{currentBlock.technique}}</td>
                    </tr>
                    <tr>
                        <td>Granularity</td>
                        <td>{{currentBlock.granularity}}</td>
                    </tr>
                    <tr>
                        <td>Trial No.</td>
                        <td>{{currentBlockNum * 3 + currentTrialNum + 1}}/54</td>
                    </tr>
                </table>
<!--                 <pre>
{{currentBlock}}
                </pre>
                <p>Current Trial Num: {{currentTrialNum}}</p> -->
                <div id="InstructionArea">
                    <p>Copy the following text using the technique mentioned above.</p>
                    <div id="InstructionText"></div>
                </div>
                <div ng-show="!trialOver">
                    <h4>This is a trial run. When you are ready, press the button below to start the real experiment.</h4>
                    <button class="btn btn-danger" ng-click="start()">Start Experiment</button>
                </div>
                
            </div>
            <div class="bottom-button-container" ng-show="trialOver">
                <button class="btn btn-success" ng-click="nextTrial(false, currentBlockNum * 3 + currentTrialNum + 1 == 54)"><span ng-show="currentBlockNum * 3 + currentTrialNum + 1 != 54">Next</span>
                <span ng-show="currentBlockNum * 3 + currentTrialNum + 1 == 54">End</span>
                 Trial</button>
                <button class="btn btn-warning" ng-click="generateCSV()">Generate CSV</button>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div id="Root"></div>
        <div ng-show="break && !rested">
            <h1 class="break">Take a break for a minute!</h1>
            <h1 class="time">{{time}} seconds left</h1>
        </div>
    </div>
</div>
