button,
input,
optgroup,
select,
textarea {
  color: #000;
}

.break,
.time {
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

.break {
  margin-top: 150px;
}

.time {
  font-size: 50px;
}


.overflow {
  overflow: scroll;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.full-height {
  height: 100%;
}

.main-area {
  height: calc(100% - 50px);
  min-height: calc(100% - 50px);
}

.left-section,
.right-section {
  display: inline-block;
  height: 100%;
}

.left-section {
  background-color: #fff;
  position: relative;
  padding: 0;
  width: 400px;
}

.left-section .bottom-button-container {
  background: #eee;
  bottom: 0;
  border-top: 1px solid #ccc;
  height: 80px;
  position: absolute;
  width: 100%;
}

.left-section .bottom-button-container .btn {
  margin: 7px;
}

.right-section {
  background-color: #232c31;
  float: right;
  overflow: hidden;
  width: calc(100% - 410px);
}

[class*="button-"] {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-right: 6px;
}

.button-close {
  background-color: #d90000;
}

.button-minimize {
 background-color: #ffbf00;
}

.button-zoom {
 background-color: #00b285;
}

.button-zoom:hover {
  content: "\u002B";
}

#stimuli {
  border: 2px solid #232c31;
  padding: 10px;
}
